section#informacion{

    .cont-masinfo{
        width: 100%;
        padding: 40px 25% 0px 25%;
        box-sizing: border-box;

        .masinfo{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;

            a{
                text-decoration: none;
            }

            .masinfo-a{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;



                .titulo-info{
                    h2{
                        font-family: $tipo3;
                        font-size: 24px;
                        margin: 10px 0px;
                        color:$colorMarca;
                        font-weight: 700;
                        text-align: left;
                    }
                }

                .text-info{
                    width: 100%;
                    p{
                        font-family: $tipo3;
                        font-size: 14px;
                        line-height: 22px;
                        color:$color4;
                        font-weight: 500;
                    }

                }

                .acceso-info{
                    width: 200px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &:hover{
                        opacity: .5;
                    }

                    .logo-info{
                        width: 50px;
                        height: 50px;
                    }

                    .text-informacion{
                        width: 150px;

                        h3{
                            font-family: $tipo3;
                            font-size: 20px;
                            margin: 0px;
                            color:$colorMarca;
                            font-weight: 700;
                            text-align: left;
                        }
                    }
                }

            }

            .masinfo-b{
                width: 100%;
                height: auto;

                .desplazamiento-up{
                    margin-top: -150px;
                    text-align: center;
                }

                .desplazamiento-down{
                    margin-bottom: -120px;
                    text-align: center;
                }

                img{
                    width: 400px;
                    height: auto;
                }


            }
        }
    }
}

/*Mobile*/
@media screen and (max-width:1170px){

    section#informacion{

        .cont-masinfo{
            width: 100%;
            padding: 50px 20px;
    
            .masinfo{
                flex-direction: column;
    
                .masinfo-a{
                    width: 100%;
                    flex-direction: column;
                    img{
                        width: 100%;
                        height: auto;
                        text-align: center;
                    }
    
                    .titulo-info{
                        h2{
                            font-family: $tipo3;
                            font-size: 24px;
                            margin: 10px 0px;
                            color:$colorMarca;
                            font-weight: 700;
                            text-align: left;
                        }
                    }
    
                    .text-info{
                        width: 100%;
                        p{
                            font-family: $tipo3;
                            font-size: 14px;
                            line-height: 22px;
                            color:$color4;
                            font-weight: 500;
                        }
    
                    }
    
                    .acceso-info{
                        width: 200px;
                        height: 50px;
                        margin: 30px 0px;
                        margin-left:auto;
                        margin-right: auto;
        
                        .text-informacion{
                            width: 150px;
    
                            h3{
                                font-size: 20px;
                                margin: 0px;
                            }
                        }
                    }
    
                }
    
                .masinfo-b{
                    width: 100%;
                    height: auto;
                    order: 2;
    
                    .desplazamiento-up{
                        margin-top: 0px;
                    }

                    img{
                        width: 100%;
                        height: auto;
                        text-align: center;
                    }
    
                }
            }
        }
    }

}