.cont-data-slider{
    width: 100%;
    height: 700px;
    padding: 150px 20% 100px 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;

    .data-slider-a{
        width: 60%;

        h1{
            font-family: $tipo3;
            font-size: 50px;
            font-weight: 800;
            letter-spacing: 1px;
            order: 1;
        }

        h2{
            font-family: $tipo3;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 1px;
            order: 2;
        }

        h3{
            font-family: $tipo3;
            font-size: 20px;
            line-height: 30px;
            font-weight: 300;
            color: $color1;
            order: 3;
        }
        
        a{
            text-decoration: none;
        }

        .cont-btn-slider{
            width: 200px;
            height: 50px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 25px;
            margin:20px 0px;
            order: 4;
            transition: 2s;

            &#gas{
                border: 2px solid $colorGas;
            }

            &#energia{
                border: 2px solid $colorEnergia;
            }

            h5{
                font-family: $tipo3;
                font-size: 16px;
                font-weight: 800;
                text-transform: uppercase;
                margin: 0px

            }

            .color-txt-slider{
                color: $color4;
            }

            &:hover#gas{
                width: 300px;
                height: 50px;
                transition: 2s;
                background-color: $colorGas;
                border-radius: 10px;
                h5{
                    color: #fff;
                }
            }

            &:hover#energia{
                width: 300px;
                height: 50px;
                transition: 2s;
                background-color: $colorEnergia;
                border-radius: 10px;

                h5{
                    color: #fff;
                }
            }

        }

    }

    .data-slider-b{
        width: 40%;
        text-align: center;
        order: 5;

        img{
            width: 100%;
            height: auto;
        } 
    }
}

.cont-data-slider#logoIntegritySlider{
    width: 100%;
    height: 700px;
    flex-direction: column;

    .data-slider-a{
        width: 100%;
        display: block;
        text-align: center;

        h1{
            font-size: 26px;
            color: #fff;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    .data-slider-b{
        width: 70%;
        text-align: center;


        img{
            width: 100%;
            height: auto;
            filter:drop-shadow(1px 1px 20px #000);
        } 

    }

}

.color-gas{
    background-color:$colorGas01;
    //radial-gradient(circle, rgba(255,248,229,1) 0%, rgba(250,224,154,1) 100%);

    h1{
        color: $color4;
    }

    h2{
        color: $colorGas;
    }
}

.color-energia{
    background-color:$colorEnergia01;
    //background: radial-gradient(circle, rgba(223,244,243,1) 0%, rgba(215,251,249,1) 100%);
    h1{
        color: $color4;
    }

    h2{
        color: $colorEnergia;
    }
}

.imagen-fondo-01{
    background-image: url(..//images/slide-integrityfirst-01.jpg);
    background-size: cover;
}



@media screen and (max-width:1170px){

    .cont-data-slider{
        width: 100%;
        height: auto;
        padding: 100px 20px 50px 20px;
        display: flex;
        flex-direction: column;


    
        .data-slider-a{
            width: 100%;
            h1{
                font-family: $tipo3;
                font-size: 30px;
                font-weight: 800;
                order:1;
            }
    
            h2{
                font-family: $tipo3;
                font-size: 20px;
                order:2;
            }
    
            h3{
                font-family: $tipo3;
                font-size: 16px;
                font-weight: 300;
                color: $color1;
                order:3;
            }

            .cont-btn-slider{
                margin-left: auto;
                margin-right: auto;
                order:5;
            }

        }

        .data-slider-b{
            width: 100%;
            order:4;


            img{
                width: 100%;
                height: auto;
            } 
    
        }
    }

    .cont-data-slider#logoIntegritySlider{
        width: 100%;
        height: 600px;
        padding: 20px;
    
        .data-slider-a{
            display: block;
            order: 2;

            h1{
                font-size: 20px;
                color: #fff;
                font-weight: 500;
                letter-spacing: 0px;
            }
        }
    
        .data-slider-b{
            width: 100%;
            text-align: center;
            order:1;

            img{
                width: 100%;
                height: auto;
            } 
        }
    }

    .imagen-fondo-01#logoIntegritySlider{
        background-image: url(..//images/slide-integrityfirst-mobile-01.jpg), linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        background-size: cover;
    }

}