@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0px;
}

/*Fonts*/
/*Colores*/
/*Compilado*/
/*Mobile*/
header {
  width: 100%;
  margin: 0px;
  line-height: 0px;
  position: relative;
  box-sizing: border-box;
}
header nav {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header nav a {
  color: #FFFFFF;
}
header nav ul {
  margin: 0px;
  padding: 0px;
  background-color: #00471D;
  overflow: hidden;
  list-style-type: none;
}
header nav ul a {
  display: block;
  color: #FFFFFF;
  padding: 19px;
  text-decoration: none;
}
header nav ul :link {
  text-decoration: none;
  color: #FFFFFF;
}
header nav ul :visited {
  color: #FFFFFF;
}
header nav ul :hover {
  opacity: 0.8;
}
header nav ul :active {
  color: #FFFFFF;
  font-weight: lighter;
}
header nav .logo {
  float: left;
  display: block;
  padding: 10px 16px;
  width: 24px;
  height: 50px;
}
header nav .logo img {
  width: 150px;
  height: auto;
}
header nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
header nav .menu-icono {
  padding: 21px 16px;
  position: relative;
  float: right;
  cursor: pointer;
}
header nav .menu-icono .nav-icono {
  background-color: #060A24;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}
header nav .menu-icono :before {
  background-color: #060A24;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  transition: all 0.2s ease-out;
}
header nav .menu-icono :after {
  background-color: #060A24;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  transition: all 0.2s ease-out;
}
header nav .menu-boton {
  display: none;
}
header nav .menu-boton:checked ~ .menu {
  max-height: 420px;
}
header nav .menu-boton:checked ~ .menu-icono .nav-icono:after {
  transform: rotate(45deg);
  top: 0;
}
header nav .menu-boton:checked ~ .menu-icono .nav-icono {
  background-color: transparent;
}
header nav .menu-boton:checked ~ .menu-icono .nav-icono:before {
  transform: rotate(-45deg);
  top: 0;
}

.push-logo {
  margin-right: 0px;
}

.azul {
  color: #060A24;
}

.resize {
  width: 287px;
  height: auto;
}

h6 {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  font-weight: 300 !important;
  letter-spacing: 0.5px !important;
  line-height: 22px !important;
  margin: 0px !important;
}

.colorGas {
  color: #FFC72F;
}

.colorEnergia {
  color: #00A99D;
}

/*Desktop*/
@media screen and (min-width: 1170px) {
  header nav {
    width: 100%;
    padding: 0px 12.5%;
    box-sizing: border-box;
  }
  header nav ul {
    background-color: #FFFFFF;
    border: 0px;
  }
  header nav ul :active {
    color: #FFFFFF;
    font-weight: lighter;
  }
  header nav ul li {
    float: left;
  }
  header nav ul a {
    padding: 30px 0px 30px 20px;
  }
  header nav .logo {
    width: 150px;
    height: auto;
    padding: 30px 0px 0px 0px;
  }
  header nav .logo img {
    width: 100%;
    height: auto;
  }
  header nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header nav .menu-icono {
    display: none;
  }
  header .azul {
    color: #005F27;
  }
  header br#salto {
    display: none;
  }
  .push-logo {
    margin-right: auto;
  }
  .boton {
    width: auto;
  }
  .resize {
    width: auto;
    height: 660px;
  }
  h6 {
    font-family: "Roboto", sans-serif !important;
    font-size: 12px !important;
    color: #060A24 !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    line-height: 22px !important;
    margin: 0px !important;
  }
}
.cont-footer {
  width: 100%;
  padding: 50px 12.5%;
  box-sizing: border-box;
  position: absolute;
  background-color: #005F27;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-top: 8px solid #306B48;
}
.cont-footer .flex-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cont-footer .flex-footer .flex-footer-a {
  display: flex;
  justify-content: center;
}
.cont-footer .flex-footer .flex-footer-a img {
  width: 100%;
  height: auto;
}
.cont-footer .flex-footer .flex-footer-a, .cont-footer .flex-footer .flex-footer-b, .cont-footer .flex-footer .flex-footer-c, .cont-footer .flex-footer .flex-footer-d, .cont-footer .flex-footer .flex-footer-e, .cont-footer .flex-footer .flex-footer-f {
  width: 16%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.cont-footer .flex-footer .flex-footer-a .footer-title, .cont-footer .flex-footer .flex-footer-b .footer-title, .cont-footer .flex-footer .flex-footer-c .footer-title, .cont-footer .flex-footer .flex-footer-d .footer-title, .cont-footer .flex-footer .flex-footer-e .footer-title, .cont-footer .flex-footer .flex-footer-f .footer-title {
  width: 100%;
}
.cont-footer .flex-footer .flex-footer-a .footer-title h5, .cont-footer .flex-footer .flex-footer-b .footer-title h5, .cont-footer .flex-footer .flex-footer-c .footer-title h5, .cont-footer .flex-footer .flex-footer-d .footer-title h5, .cont-footer .flex-footer .flex-footer-e .footer-title h5, .cont-footer .flex-footer .flex-footer-f .footer-title h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin: 0px 0px 10px 0px;
}
.cont-footer .flex-footer .flex-footer-a .line-03-footer, .cont-footer .flex-footer .flex-footer-b .line-03-footer, .cont-footer .flex-footer .flex-footer-c .line-03-footer, .cont-footer .flex-footer .flex-footer-d .line-03-footer, .cont-footer .flex-footer .flex-footer-e .line-03-footer, .cont-footer .flex-footer .flex-footer-f .line-03-footer {
  width: 25px;
  border-bottom: 2px solid #FFC72F;
  margin-bottom: 10px;
}
.cont-footer .flex-footer .flex-footer-a .footer-datos h6, .cont-footer .flex-footer .flex-footer-b .footer-datos h6, .cont-footer .flex-footer .flex-footer-c .footer-datos h6, .cont-footer .flex-footer .flex-footer-d .footer-datos h6, .cont-footer .flex-footer .flex-footer-e .footer-datos h6, .cont-footer .flex-footer .flex-footer-f .footer-datos h6 {
  font-family: "Roboto", sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  line-height: 18px !important;
  letter-spacing: 1px !important;
  color: #FFFFFF !important;
  margin: 8px 0px !important;
}
.cont-footer .flex-footer .flex-footer-a .footer-datos a, .cont-footer .flex-footer .flex-footer-b .footer-datos a, .cont-footer .flex-footer .flex-footer-c .footer-datos a, .cont-footer .flex-footer .flex-footer-d .footer-datos a, .cont-footer .flex-footer .flex-footer-e .footer-datos a, .cont-footer .flex-footer .flex-footer-f .footer-datos a {
  text-decoration: none;
}
.cont-footer .flex-footer .flex-footer-a .footer-datos :link, .cont-footer .flex-footer .flex-footer-b .footer-datos :link, .cont-footer .flex-footer .flex-footer-c .footer-datos :link, .cont-footer .flex-footer .flex-footer-d .footer-datos :link, .cont-footer .flex-footer .flex-footer-e .footer-datos :link, .cont-footer .flex-footer .flex-footer-f .footer-datos :link {
  text-decoration: none;
}
.cont-footer .flex-footer .flex-footer-a .footer-datos :hover, .cont-footer .flex-footer .flex-footer-b .footer-datos :hover, .cont-footer .flex-footer .flex-footer-c .footer-datos :hover, .cont-footer .flex-footer .flex-footer-d .footer-datos :hover, .cont-footer .flex-footer .flex-footer-e .footer-datos :hover, .cont-footer .flex-footer .flex-footer-f .footer-datos :hover {
  opacity: 0.8;
}
.cont-footer .flex-footer .flex-footer-a .footer-datos :active, .cont-footer .flex-footer .flex-footer-b .footer-datos :active, .cont-footer .flex-footer .flex-footer-c .footer-datos :active, .cont-footer .flex-footer .flex-footer-d .footer-datos :active, .cont-footer .flex-footer .flex-footer-e .footer-datos :active, .cont-footer .flex-footer .flex-footer-f .footer-datos :active {
  color: #FFFFFF;
}
.cont-footer .flex-footer .flex-footer-a .footer-redes, .cont-footer .flex-footer .flex-footer-b .footer-redes, .cont-footer .flex-footer .flex-footer-c .footer-redes, .cont-footer .flex-footer .flex-footer-d .footer-redes, .cont-footer .flex-footer .flex-footer-e .footer-redes, .cont-footer .flex-footer .flex-footer-f .footer-redes {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cont-footer .flex-footer .flex-footer-a .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-b .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-c .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-d .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-e .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-f .footer-redes .footer-redes-cubo {
  width: 25px;
  height: 25px;
  border: 1px solid #FFC72F;
  margin: 5px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.cont-footer .flex-footer .flex-footer-a .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-b .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-c .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-d .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-e .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-f .footer-redes .footer-redes-cubo img {
  width: 100%;
  height: auto;
  padding: 2px;
  box-sizing: border-box;
}
.cont-footer .flex-footer .flex-footer-a .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-b .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-c .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-d .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-e .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-f .footer-redes .footer-redes-cubo :hover {
  background-color: #FFC72F;
  display: block;
  cursor: pointer;
}

/*Mobile*/
@media screen and (max-width: 1170px) {
  .banda-footer {
    margin-top: 44px;
  }
  .cont-footer {
    padding: 50px 20px;
  }
  .cont-footer .flex-footer {
    flex-direction: column;
    justify-content: left;
  }
  .cont-footer .flex-footer .flex-footer-a {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .cont-footer .flex-footer .flex-footer-a img {
    width: 80%;
    height: auto;
  }
  .cont-footer .flex-footer .flex-footer-a, .cont-footer .flex-footer .flex-footer-b, .cont-footer .flex-footer .flex-footer-c, .cont-footer .flex-footer .flex-footer-d, .cont-footer .flex-footer .flex-footer-e, .cont-footer .flex-footer .flex-footer-f {
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .cont-footer .flex-footer .flex-footer-a .footer-title, .cont-footer .flex-footer .flex-footer-b .footer-title, .cont-footer .flex-footer .flex-footer-c .footer-title, .cont-footer .flex-footer .flex-footer-d .footer-title, .cont-footer .flex-footer .flex-footer-e .footer-title, .cont-footer .flex-footer .flex-footer-f .footer-title {
    width: 100%;
  }
  .cont-footer .flex-footer .flex-footer-a .footer-title h5, .cont-footer .flex-footer .flex-footer-b .footer-title h5, .cont-footer .flex-footer .flex-footer-c .footer-title h5, .cont-footer .flex-footer .flex-footer-d .footer-title h5, .cont-footer .flex-footer .flex-footer-e .footer-title h5, .cont-footer .flex-footer .flex-footer-f .footer-title h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0px 0px 10px 0px;
  }
  .cont-footer .flex-footer .flex-footer-a .footer-datos h6, .cont-footer .flex-footer .flex-footer-b .footer-datos h6, .cont-footer .flex-footer .flex-footer-c .footer-datos h6, .cont-footer .flex-footer .flex-footer-d .footer-datos h6, .cont-footer .flex-footer .flex-footer-e .footer-datos h6, .cont-footer .flex-footer .flex-footer-f .footer-datos h6 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 8px 0px;
  }
  .cont-footer .flex-footer .flex-footer-a .footer-redes, .cont-footer .flex-footer .flex-footer-b .footer-redes, .cont-footer .flex-footer .flex-footer-c .footer-redes, .cont-footer .flex-footer .flex-footer-d .footer-redes, .cont-footer .flex-footer .flex-footer-e .footer-redes, .cont-footer .flex-footer .flex-footer-f .footer-redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .cont-footer .flex-footer .flex-footer-a .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-b .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-c .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-d .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-e .footer-redes .footer-redes-cubo, .cont-footer .flex-footer .flex-footer-f .footer-redes .footer-redes-cubo {
    width: 60px;
    height: 60px;
    border: 2px solid #FFC72F;
    border-radius: 30px;
    justify-content: center;
    display: flex;
  }
  .cont-footer .flex-footer .flex-footer-a .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-b .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-c .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-d .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-e .footer-redes .footer-redes-cubo img, .cont-footer .flex-footer .flex-footer-f .footer-redes .footer-redes-cubo img {
    width: 70%;
    height: auto;
  }
  .cont-footer .flex-footer .flex-footer-a .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-b .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-c .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-d .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-e .footer-redes .footer-redes-cubo :hover, .cont-footer .flex-footer .flex-footer-f .footer-redes .footer-redes-cubo :hover {
    background-color: none;
    display: none;
    cursor: pointer;
  }
}
section#servicios .cont-selector {
  width: 100%;
  height: auto;
  padding: 80px 12.5% 150px 12.5%;
  background-color: #DFEBE4;
  box-sizing: border-box;
}
section#servicios .cont-selector .selector {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
section#servicios .cont-selector .selector .selector-titulo {
  width: 100%;
}
section#servicios .cont-selector .selector .selector-titulo h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  margin: 5px 0px;
  color: #005F27;
  font-weight: 800;
  text-align: center;
}
section#servicios .cont-selector .selector .selector-titulo h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin: 5px 0px;
  color: #005F27;
  font-weight: 300;
  text-align: center;
}
section#servicios .cont-selector .selector .selector-card {
  width: 100%;
  padding-top: 50px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section#servicios .cont-selector .selector .selector-card a {
  text-decoration: none;
}
section#servicios .cont-selector .selector .selector-card .card-servicios {
  width: 204px;
  height: 204px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 25px;
  /*Horizontal Vertical Blur Extension*/
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  transition: 3s;
  cursor: pointer;
}
section#servicios .cont-selector .selector .selector-card .card-servicios .icono-gas {
  background-image: url("..//images/icono_gas.svg");
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}
section#servicios .cont-selector .selector .selector-card .card-servicios .icono-energia {
  background-image: url("..//images/icono_energia.svg");
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}
section#servicios .cont-selector .selector .selector-card .card-servicios .icono-asistencia {
  background-image: url("..//images/icono_asistencia.svg");
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}
section#servicios .cont-selector .selector .selector-card .card-servicios .linea-divisoria {
  width: 60px;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #FFC72F;
  margin-left: auto;
  margin-right: auto;
}
section#servicios .cont-selector .selector .selector-card .card-servicios h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 0px;
  color: #666B6E;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioGas {
  height: 280px;
  background-color: #FFC72F;
  transition: 1s;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioGas h5 {
  color: #fff;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioGas .linea-divisoria {
  background-color: #fff;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioGas .icono-gas {
  width: 90px;
  height: 90px;
  background-image: url("..//images/icono_gas_blanco.svg");
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioEnergia {
  height: 280px;
  background-color: #00A99D;
  transition: 1s;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioEnergia h5 {
  color: #fff;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioEnergia .linea-divisoria {
  background-color: #fff;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioEnergia .icono-energia {
  width: 90px;
  height: 90px;
  background-image: url("..//images/icono_energia_blanco.svg");
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioAsistencia {
  height: 280px;
  background-color: #005F27;
  transition: 1s;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioAsistencia h5 {
  color: #fff;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioAsistencia .linea-divisoria {
  background-color: #fff;
}
section#servicios .cont-selector .selector .selector-card .card-servicios:hover#servicioAsistencia .icono-asistencia {
  background-image: url("..//images/icono_asistencia_blanco.svg");
}

/*Mobile*/
@media screen and (max-width: 1170px) {
  section#servicios .cont-selector {
    padding: 80px 20px;
  }
  section#servicios .cont-selector .selector {
    width: 100%;
  }
  section#servicios .cont-selector .selector .selector-titulo {
    width: 100%;
  }
  section#servicios .cont-selector .selector .selector-card {
    width: 100%;
    padding-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
section#informacion .cont-masinfo {
  width: 100%;
  padding: 40px 25% 0px 25%;
  box-sizing: border-box;
}
section#informacion .cont-masinfo .masinfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
section#informacion .cont-masinfo .masinfo a {
  text-decoration: none;
}
section#informacion .cont-masinfo .masinfo .masinfo-a {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .titulo-info h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 10px 0px;
  color: #005F27;
  font-weight: 700;
  text-align: left;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .text-info {
  width: 100%;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .text-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #595E60;
  font-weight: 500;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info:hover {
  opacity: 0.5;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info .logo-info {
  width: 50px;
  height: 50px;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info .text-informacion {
  width: 150px;
}
section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info .text-informacion h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0px;
  color: #005F27;
  font-weight: 700;
  text-align: left;
}
section#informacion .cont-masinfo .masinfo .masinfo-b {
  width: 100%;
  height: auto;
}
section#informacion .cont-masinfo .masinfo .masinfo-b .desplazamiento-up {
  margin-top: -150px;
  text-align: center;
}
section#informacion .cont-masinfo .masinfo .masinfo-b .desplazamiento-down {
  margin-bottom: -120px;
  text-align: center;
}
section#informacion .cont-masinfo .masinfo .masinfo-b img {
  width: 400px;
  height: auto;
}

/*Mobile*/
@media screen and (max-width: 1170px) {
  section#informacion .cont-masinfo {
    width: 100%;
    padding: 50px 20px;
  }
  section#informacion .cont-masinfo .masinfo {
    flex-direction: column;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a {
    width: 100%;
    flex-direction: column;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a img {
    width: 100%;
    height: auto;
    text-align: center;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a .titulo-info h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin: 10px 0px;
    color: #005F27;
    font-weight: 700;
    text-align: left;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a .text-info {
    width: 100%;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a .text-info p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #595E60;
    font-weight: 500;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info {
    width: 200px;
    height: 50px;
    margin: 30px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info .text-informacion {
    width: 150px;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-a .acceso-info .text-informacion h3 {
    font-size: 20px;
    margin: 0px;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-b {
    width: 100%;
    height: auto;
    order: 2;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-b .desplazamiento-up {
    margin-top: 0px;
  }
  section#informacion .cont-masinfo .masinfo .masinfo-b img {
    width: 100%;
    height: auto;
    text-align: center;
  }
}
section#contactenos .cont-contactenos {
  width: 100%;
  height: auto;
  padding: 150px 25%;
  background-color: #404345;
  box-sizing: border-box;
}
section#contactenos .cont-contactenos a {
  text-decoration: none;
}
section#contactenos .cont-contactenos .contactenos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
section#contactenos .cont-contactenos .contactenos .tit-contactenos h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
}
section#contactenos .cont-contactenos .contactenos .botones-contactenos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 1s;
}
section#contactenos .cont-contactenos .contactenos .botones-contactenos .color-whatsApp {
  background-color: #25D366;
}
section#contactenos .cont-contactenos .contactenos .botones-contactenos .color-email {
  background-color: #29ABE2;
}
section#contactenos .cont-contactenos .contactenos .botones-contactenos .btn-contactenos {
  width: 240px;
  height: 50px;
  margin: 20px;
  border-radius: 25px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
section#contactenos .cont-contactenos .contactenos .botones-contactenos .btn-contactenos h3 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin: 0px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}
section#contactenos .cont-contactenos .contactenos .botones-contactenos :hover#btn-email, section#contactenos .cont-contactenos .contactenos .botones-contactenos :hover#btn-whatsapp {
  background-color: #FFC72F;
  transition: 0.5s;
}

/*Mobile*/
@media screen and (max-width: 1170px) {
  section#contactenos .cont-contactenos {
    width: 100%;
    padding: 100px 20px;
  }
  section#contactenos .cont-contactenos .contactenos .tit-contactenos h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    line-height: 40px;
  }
  section#contactenos .cont-contactenos .contactenos .botones-contactenos {
    flex-direction: column;
  }
  section#contactenos .cont-contactenos .contactenos .botones-contactenos .color-whatsApp {
    background-color: #25D366;
  }
  section#contactenos .cont-contactenos .contactenos .botones-contactenos .color-email {
    background-color: #29ABE2;
  }
  section#contactenos .cont-contactenos .contactenos .botones-contactenos .btn-contactenos {
    width: 240px;
    height: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
  }
  section#contactenos .cont-contactenos .contactenos .botones-contactenos .btn-contactenos h3 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    margin: 0px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
  }
  section#contactenos .cont-contactenos .contactenos .botones-contactenos :hover#btn-email, section#contactenos .cont-contactenos .contactenos .botones-contactenos :hover#btn-whatsapp {
    background-color: #FFC72F;
    transition: 0.5s;
  }
}
section#clientes .tit-clientes {
  width: 100%;
  height: auto;
  padding: 100px 25% 0px 25%;
  box-sizing: border-box;
}
section#clientes .tit-clientes h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0px;
  color: #404345;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
}
section#clientes .clientes {
  width: 75%;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  overflow: hidden;
}
section#clientes .clientes .slider {
  animation: slidein 30s linear infinite;
  white-space: nowrap;
}
section#clientes .clientes .slider .logos {
  width: 100%;
  display: inline-block;
  margin: 0px 0;
}
section#clientes .clientes .slider .logos .fab {
  width: 20%;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
section#clientes .clientes .slider .logos img {
  width: auto;
  height: 70px;
  margin: 20px 40px;
}
@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Mobile*/
@media screen and (max-width: 1170px) {
  section#clientes .tit-clientes {
    width: 100%;
    height: auto;
    padding: 50px 20px 0px 20px;
    box-sizing: border-box;
  }
  section#clientes .tit-clientes h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 0px;
    color: #404345;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
  }
  section#clientes .clientes {
    width: 100%;
    padding: 50px 0px;
    overflow: hidden;
  }
  section#clientes .clientes .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
  }
  section#clientes .clientes .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
  }
  section#clientes .clientes .slider .logos .fab {
    width: 20%;
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  }
  section#clientes .clientes .slider .logos img {
    width: auto;
    height: 70px;
    margin: 20px 40px;
  }
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
section#alcance .cont-alcance {
  width: 100%;
  height: auto;
  padding: 150px 12.5%;
  background-color: #DFEBE4;
  box-sizing: border-box;
}
section#alcance .cont-alcance .alcance {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section#alcance .cont-alcance .alcance .alcance-data {
  margin: 30px;
  width: 30%;
  text-align: center;
}
section#alcance .cont-alcance .alcance .alcance-data .linea-soporte {
  width: 100px;
  height: 6px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: #005F27;
}
section#alcance .cont-alcance .alcance .alcance-data h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 20px 0px;
  color: #005F27;
  font-weight: 400;
  text-align: center;
}
section#alcance .cont-alcance .progress-number {
  margin: 25px auto 10px auto;
  text-align: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: #005F27;
  font-weight: bold;
}

/*Mobile*/
@media screen and (max-width: 1170px) {
  section#alcance .cont-alcance {
    width: 100%;
    height: auto;
    padding: 100px 20px;
    box-sizing: border-box;
  }
  section#alcance .cont-alcance .alcance {
    flex-direction: column;
  }
  section#alcance .cont-alcance .alcance .alcance-data {
    margin: 10px 0px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  section#alcance .cont-alcance .alcance .alcance-data .linea-soporte {
    width: 100px;
    height: 6px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #005F27;
  }
  section#alcance .cont-alcance .alcance .alcance-data h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin: 20px 0px;
    color: #005F27;
    font-weight: 400;
    text-align: center;
  }
  section#alcance .cont-alcance .progress-number {
    margin: 25px auto 10px auto;
    text-align: center;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    color: #005F27;
    font-weight: bold;
  }
}
/*General Desktop*/
.color-serv-gral-gas {
  background-color: #FFC72F;
}

.color-serv-gral-gas01 {
  background-color: #FFF8E5;
}

.color-serv-gral-energia {
  background-color: #00A99D;
}

.color-serv-gral-energia01 {
  background-color: #DFF4F3;
}

.color-serv-gral-servicios {
  background-color: rgba(0, 95, 39, 0.6);
}

.color-serv-gral-servicios01 {
  background-image: url(..//images/back-quienes-somos-desktop.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.color-serv-gral-servicios02 {
  background-image: url(..//images/back-contacto-desktop.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.color-serv-gral-servicios03 {
  background-image: url(..//images/back-certificacion-desktop.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.color-serv-gral-servicios04 {
  background-image: url(..//images/back-laboratorio-desktop.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

section#serviciosGenerales .cont-serv-gral {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 0px 25%;
}
section#serviciosGenerales .cont-serv-gral .data-serv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 150px 50px 150px 0px;
}
section#serviciosGenerales .cont-serv-gral .data-serv .tit-gral h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 55px;
  text-align: left;
}
section#serviciosGenerales .cont-serv-gral .data-serv .bajada-gral h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: left;
}
section#serviciosGenerales .cont-serv-gral .data-serv .descripcion-gral p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
section#serviciosGenerales .cont-serv-gral .data-serv #general {
  color: #005F27;
}
section#serviciosGenerales .cont-serv-gral .data-serv #generalSubtitulo {
  color: #060A24;
}
section#serviciosGenerales .cont-serv-gral .data-serv #generalData {
  color: #595E60;
}
section#serviciosGenerales .cont-serv-gral .data-serv #secciones {
  color: #fff;
}
section#serviciosGenerales .cont-serv-gral .imagen-gral {
  width: 170px;
  height: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
section#serviciosGenerales .cont-serv-gral .imagen-gral img {
  width: 120px;
  height: auto;
}

section#informacionGral .cont-info-general {
  width: 100%;
  padding: 100px 25%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#informacionGral .cont-info-general .info-gral-a {
  width: 75%;
  height: auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
section#informacionGral .cont-info-general .info-gral-b {
  width: 25%;
  height: auto;
  box-sizing: border-box;
}
section#informacionGral .cont-info-general .info-gral-b img {
  width: 100%;
  height: auto;
}
section#informacionGral .cont-info-general h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #005F27;
  letter-spacing: 1px;
}
section#informacionGral .cont-info-general p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #666B6E;
  margin: 10px 0px;
}
section#informacionGral .cont-info-general .align-izq {
  text-align: left;
}
section#informacionGral .cont-info-general .align-der {
  text-align: right;
}

/*Mobile General*/
@media screen and (max-width: 1170px) {
  .color-serv-gral-servicios01 {
    background-image: url(..//images/back-quienes-somos-mobile.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .color-serv-gral-servicios02 {
    background-image: url(..//images/back-contacto-mobile.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .color-serv-gral-servicios03 {
    background-image: url(..//images/back-certificacion-mobile.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .color-serv-gral-servicios04 {
    background-image: url(..//images/back-laboratorio-mobile.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  }
  section#serviciosGenerales .cont-serv-gral {
    flex-direction: column;
    padding: 50px 20px 30px 20px;
    box-sizing: border-box;
  }
  section#serviciosGenerales .cont-serv-gral .data-serv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: 0;
    padding: 50px 0px 50px 0px;
  }
  section#serviciosGenerales .cont-serv-gral .data-serv .tit-gral h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
  }
  section#serviciosGenerales .cont-serv-gral .data-serv .bajada-gral h2 {
    font-size: 21px;
  }
  section#serviciosGenerales .cont-serv-gral .data-serv .descripcion-gral p {
    font-size: 14px;
  }
  section#serviciosGenerales .cont-serv-gral .imagen-gral {
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 10px;
  }
  section#serviciosGenerales .cont-serv-gral .imagen-gral img {
    width: 120px;
    height: auto;
  }
  section#informacionGral .cont-info-general {
    width: 100%;
    padding: 20px 20px;
    flex-direction: column;
    align-items: left;
  }
  section#informacionGral .cont-info-general .info-gral-a {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  section#informacionGral .cont-info-general .info-gral-b {
    width: 100%;
    height: auto;
    order: 2;
  }
  section#informacionGral .cont-info-general .info-gral-b img {
    width: 100%;
    height: auto;
  }
  section#informacionGral .cont-info-general h3 {
    font-size: 36px;
    text-align: left;
  }
  section#informacionGral .cont-info-general p {
    font-size: 18px;
    text-align: left;
  }
  section#informacionGral .cont-info-general .align-izq {
    text-align: left;
  }
  section#informacionGral .cont-info-general .align-der {
    text-align: right;
  }
}
section#cardsProductos .borde-card#cardGas {
  border-color: #FFC72F;
}
section#cardsProductos .borde-card#cardEnergia {
  border-color: #00A99D;
}
section#cardsProductos .download::before {
  content: "Descargar";
}
section#cardsProductos .cont-productos {
  width: 100%;
  padding: 50px 12.5%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
section#cardsProductos .cont-productos h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
}
section#cardsProductos .cont-productos .tit-productos#titGas {
  color: #DFAE29;
}
section#cardsProductos .cont-productos .tit-productos#titEnergia {
  color: #006A62;
}
section#cardsProductos .gral-productos {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
}
section#cardsProductos .cont-cardproducto {
  width: 230px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
  padding: 20px;
  margin: 11px;
  /*Horizontal Vertical Blur Extension*/
  box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#cardsProductos .cont-cardproducto .img-pro {
  width: 100%;
  height: 185px;
}
section#cardsProductos .cont-cardproducto .img-pro img {
  width: 100%;
}
section#cardsProductos .cont-cardproducto .combo-data {
  display: flex;
  flex-direction: column;
}
section#cardsProductos .cont-cardproducto .combo-data .tit-pro h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #595E60;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
}
section#cardsProductos .cont-cardproducto .combo-data .desc-pro h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #595E60;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
section#cardsProductos .cont-cardproducto a {
  text-decoration: none;
}
section#cardsProductos .cont-cardproducto .download-pro {
  width: 190px;
  height: 36px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 2s;
}
section#cardsProductos .cont-cardproducto .download-pro h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}
section#cardsProductos .cont-cardproducto :hover#gas {
  background-color: #25D366;
  transition: 2s;
}
section#cardsProductos .cont-cardproducto :hover#energia {
  background-color: #25D366;
  transition: 2s;
}
section#cardsProductos .cont-cardproducto :hover#general {
  background-color: #25D366;
  transition: 2s;
}

/*Mobile Card Productos*/
@media screen and (max-width: 1170px) {
  section#cardsProductos .cont-productos {
    width: 100%;
    padding: 50px 20px 0px 20px;
  }
  section#cardsProductos .cont-productos h1 {
    font-size: 30px;
    text-align: left;
  }
  section#cardsProductos .gral-productos {
    width: 100%;
    padding: 50px 0px;
  }
  section#cardsProductos .cont-cardproducto {
    width: 100%;
    height: 200px;
    padding: 20px;
    margin: 10px 0px;
    flex-direction: row;
    /*Horizontal Vertical Blur Extension*/
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  section#cardsProductos .cont-cardproducto .img-pro {
    text-align: center;
  }
  section#cardsProductos .cont-cardproducto .img-pro img {
    width: 170px;
    height: auto;
  }
  section#cardsProductos .cont-cardproducto .combo-data {
    justify-content: space-between;
  }
  section#cardsProductos .cont-cardproducto .combo-data .tit-pro h3 {
    font-size: 25px;
    text-align: left;
  }
  section#cardsProductos .cont-cardproducto .combo-data .desc-pro h4 {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }
  section#cardsProductos .cont-cardproducto .download-pro {
    width: 110px;
    height: 40px;
    border-radius: 20px;
  }
  section#cardsProductos .cont-cardproducto .download-pro h5 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
section#formulario .cont-formulario {
  width: 100%;
  height: auto;
  padding: 150px 0px;
  box-sizing: border-box;
  background-color: #404345;
}
section#formulario .cont-formulario .cont-tit-form {
  width: 1050px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section#formulario .cont-formulario .cont-tit-form .tit-form-a {
  width: 40%;
}
section#formulario .cont-formulario .cont-tit-form .tit-form-a h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}
section#formulario .cont-formulario .cont-tit-form .tit-form-b {
  width: 40%;
}
section#formulario .cont-formulario .cont-tit-form .tit-form-b h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  text-align: right;
}
section#formulario .cont-datos-whatsapp {
  width: 100%;
  height: auto;
  padding: 100px 25%;
  box-sizing: border-box;
}
section#formulario .cont-datos-whatsapp h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #005F27;
  text-align: center;
}
section#formulario .cont-datos-whatsapp h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
section#formulario .cont-btn-cuadrado {
  width: 250px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border: 1px solid #25D366;
  margin: 20px auto;
  cursor: pointer;
}
section#formulario .cont-btn-cuadrado .texto {
  width: 200px;
  text-align: center;
}
section#formulario .cont-btn-cuadrado .texto h5 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #25D366;
  margin: 0px;
  text-transform: uppercase;
}
section#formulario .cont-btn-cuadrado .imagen {
  width: 50px;
  height: 38px;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
section#formulario .cont-btn-cuadrado .imagen img {
  width: 20px;
  height: 20px;
}
section#formulario .cont-btn-cuadrado:hover {
  background-color: #DFEBE4;
  color: #fff;
}
section#formulario a {
  text-decoration: none;
}
section#formulario form {
  width: 1050px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
section#formulario form input {
  border: 0px;
  margin: 10px 0px;
  padding: 20px;
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
}
section#formulario form input#nombre, section#formulario form #empresa, section#formulario form #email, section#formulario form #telefono {
  width: 500px;
}
section#formulario form input#mensaje {
  width: 1050px;
}
section#formulario form input#enviar {
  width: 140px;
  height: 60px;
  background-color: #FFC72F;
  border-radius: 30px;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  color: #404345;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 800;
}
section#formulario form input#enviar:hover {
  background-color: #595E60;
  color: #fff;
}
section#formulario form input#enviar:active {
  background-color: #005F27;
}

@media screen and (max-width: 1170px) {
  section#formulario .cont-datos-whatsapp {
    padding: 50px 20px;
  }
  section#formulario .cont-datos-whatsapp h2 {
    font-size: 30px;
    font-weight: 700;
    color: #005F27;
    text-align: left;
  }
  section#formulario .cont-datos-whatsapp h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  section#formulario .cont-datos-whatsapp .salto {
    display: none;
  }
  section#formulario .cont-btn-cuadrado {
    width: 100%;
    height: 50px;
  }
  section#formulario .cont-btn-cuadrado .texto {
    width: 100%;
    text-align: center;
  }
  section#formulario .cont-btn-cuadrado .texto h5 {
    font-size: 16px;
    letter-spacing: 1px;
  }
  section#formulario .cont-btn-cuadrado .imagen {
    width: 70px;
    height: 100%;
  }
  section#formulario .cont-btn-cuadrado .imagen img {
    width: 30px;
    height: 30px;
  }
  section#formulario .cont-formulario {
    padding: 30px;
  }
  section#formulario .cont-formulario .cont-tit-form {
    width: 100%;
    flex-direction: column;
  }
  section#formulario .cont-formulario .cont-tit-form .tit-form-a {
    width: 100%;
  }
  section#formulario .cont-formulario .cont-tit-form .tit-form-b {
    width: 100%;
  }
  section#formulario .cont-formulario .cont-tit-form .tit-form-b h4 {
    text-align: left;
  }
  section#formulario form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  section#formulario form label {
    width: 100%;
  }
  section#formulario form input#nombre, section#formulario form #empresa, section#formulario form #email, section#formulario form #telefono {
    width: 100%;
  }
  section#formulario form input#mensaje {
    width: 100%;
  }
  section#formulario form input#enviar {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    margin: 20px 0px;
  }
}
section#quickForm .cont-quick-formulario {
  width: 300px;
  height: 300px;
  padding: 0px 0px 15px 0px;
  box-sizing: border-box;
  background-color: #fff;
}
section#quickForm .cont-quick-formulario .cont-tit-form {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section#quickForm .cont-quick-formulario .cont-tit-form .tit-form-a {
  width: 100%;
}
section#quickForm .cont-quick-formulario .cont-tit-form .tit-form-a h3 {
  font-family: arial;
  font-size: 14px;
  color: black;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
}
section#quickForm .cont-quick-formulario .cont-tit-form .tit-form-b {
  width: 40%;
}
section#quickForm .cont-quick-formulario .cont-tit-form .tit-form-b h4 {
  font-family: arial;
  font-size: 14px;
  color: black;
  font-weight: normal;
  text-align: right;
}
section#quickForm form {
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
section#quickForm form input {
  width: 280px;
  margin: 10px;
  padding: 10px;
  border-radius: 0px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid 0;
}
section#quickForm form input#enviar {
  width: 100px;
  height: 40px;
  margin: 5px auto;
  padding: 5px;
  background-color: blue;
  border-radius: 3px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: 0px;
  font-family: arial;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  transition: 0.9s;
}
section#quickForm form input#enviar:hover {
  background-color: #005F27;
  cursor: pointer;
  transition: 0.9s;
}

@media screen and (max-width: 1170px) {
  .cont-formulario {
    padding: 30px;
  }
  .cont-formulario .cont-tit-form {
    width: 100%;
    flex-direction: column;
  }
  .cont-formulario .cont-tit-form .tit-form-a {
    width: 100%;
  }
  .cont-formulario .cont-tit-form .tit-form-b {
    width: 100%;
  }
  .cont-formulario .cont-tit-form .tit-form-b h4 {
    text-align: left;
  }
  form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  form label {
    width: 100%;
  }
  form input#nombre, form #empresa, form #email, form #telefono {
    width: 100%;
  }
  form input#mensaje {
    width: 100%;
  }
}
.cont-data-slider {
  width: 100%;
  height: 700px;
  padding: 150px 20% 100px 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.cont-data-slider .data-slider-a {
  width: 60%;
}
.cont-data-slider .data-slider-a h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 1px;
  order: 1;
}
.cont-data-slider .data-slider-a h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  order: 2;
}
.cont-data-slider .data-slider-a h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #060A24;
  order: 3;
}
.cont-data-slider .data-slider-a a {
  text-decoration: none;
}
.cont-data-slider .data-slider-a .cont-btn-slider {
  width: 200px;
  height: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  margin: 20px 0px;
  order: 4;
  transition: 2s;
}
.cont-data-slider .data-slider-a .cont-btn-slider#gas {
  border: 2px solid #FFC72F;
}
.cont-data-slider .data-slider-a .cont-btn-slider#energia {
  border: 2px solid #00A99D;
}
.cont-data-slider .data-slider-a .cont-btn-slider h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
}
.cont-data-slider .data-slider-a .cont-btn-slider .color-txt-slider {
  color: #595E60;
}
.cont-data-slider .data-slider-a .cont-btn-slider:hover#gas {
  width: 300px;
  height: 50px;
  transition: 2s;
  background-color: #FFC72F;
  border-radius: 10px;
}
.cont-data-slider .data-slider-a .cont-btn-slider:hover#gas h5 {
  color: #fff;
}
.cont-data-slider .data-slider-a .cont-btn-slider:hover#energia {
  width: 300px;
  height: 50px;
  transition: 2s;
  background-color: #00A99D;
  border-radius: 10px;
}
.cont-data-slider .data-slider-a .cont-btn-slider:hover#energia h5 {
  color: #fff;
}
.cont-data-slider .data-slider-b {
  width: 40%;
  text-align: center;
  order: 5;
}
.cont-data-slider .data-slider-b img {
  width: 100%;
  height: auto;
}

.cont-data-slider#logoIntegritySlider {
  width: 100%;
  height: 700px;
  flex-direction: column;
}
.cont-data-slider#logoIntegritySlider .data-slider-a {
  width: 100%;
  display: block;
  text-align: center;
}
.cont-data-slider#logoIntegritySlider .data-slider-a h1 {
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0px;
}
.cont-data-slider#logoIntegritySlider .data-slider-b {
  width: 70%;
  text-align: center;
}
.cont-data-slider#logoIntegritySlider .data-slider-b img {
  width: 100%;
  height: auto;
  filter: drop-shadow(1px 1px 20px #000);
}

.color-gas {
  background-color: #FFF8E5;
}
.color-gas h1 {
  color: #595E60;
}
.color-gas h2 {
  color: #FFC72F;
}

.color-energia {
  background-color: #DFF4F3;
}
.color-energia h1 {
  color: #595E60;
}
.color-energia h2 {
  color: #00A99D;
}

.imagen-fondo-01 {
  background-image: url(..//images/slide-integrityfirst-01.jpg);
  background-size: cover;
}

@media screen and (max-width: 1170px) {
  .cont-data-slider {
    width: 100%;
    height: auto;
    padding: 100px 20px 50px 20px;
    display: flex;
    flex-direction: column;
  }
  .cont-data-slider .data-slider-a {
    width: 100%;
  }
  .cont-data-slider .data-slider-a h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 800;
    order: 1;
  }
  .cont-data-slider .data-slider-a h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    order: 2;
  }
  .cont-data-slider .data-slider-a h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #060A24;
    order: 3;
  }
  .cont-data-slider .data-slider-a .cont-btn-slider {
    margin-left: auto;
    margin-right: auto;
    order: 5;
  }
  .cont-data-slider .data-slider-b {
    width: 100%;
    order: 4;
  }
  .cont-data-slider .data-slider-b img {
    width: 100%;
    height: auto;
  }
  .cont-data-slider#logoIntegritySlider {
    width: 100%;
    height: 600px;
    padding: 20px;
  }
  .cont-data-slider#logoIntegritySlider .data-slider-a {
    display: block;
    order: 2;
  }
  .cont-data-slider#logoIntegritySlider .data-slider-a h1 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0px;
  }
  .cont-data-slider#logoIntegritySlider .data-slider-b {
    width: 100%;
    text-align: center;
    order: 1;
  }
  .cont-data-slider#logoIntegritySlider .data-slider-b img {
    width: 100%;
    height: auto;
  }
  .imagen-fondo-01#logoIntegritySlider {
    background-image: url(..//images/slide-integrityfirst-mobile-01.jpg), linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */